/*
Main Styles
- CSS vars are apparently not supported.
- Element naming convention: loosely BEM
- Theming was an experiment. For now, just assume light theme is used.

/** Common ------------------------------------------------------------------ */
.btn {
	background-color: #4d4dff;
	border-radius: 5px;
	padding: 8px 10px;
}
.main.light .btn {
	color: #fff;
}
.main.dark .btn {
	color: #000;
}
.btn_text {
	font-weight: bold;
	text-align: center;
}

/** Main container ---------------------------------------------------------- */
.content {
	padding: 5px;
}
.main {
	padding: 0;
	margin: 0;
	border: 0px solid red;
	outline: 0;
}
.main.light  {
	color: #000;
	background-color: #fff;
}
.main.dark {
	color: #fff;
	background-color: #000;
}

/** Header ------------------------------------------------------------------ */
.heading {
	margin-bottom: 12px;
	margin-left: 6px;
	font-size: 18px;
	font-weight: bold;
}

/** Input section ----------------------------------------------------------- */
.input-container {
	margin-bottom: 10px;
}
.input {
	border-radius: 5px;
	padding: 5px;
}
.main.light .input {
	color: #000;
	border: 2px solid #d3d3d3;
}
.main.dark .input {
	color: #fff;
	border: 2px solid #777;
}
.main.light .input:focus {
	border: 2px solid #4d4dff;
}
.main.dark .input:focus {
	border: 2px solid #4d4dff;
}

.submit {
	margin-left: 12px;
}

/** AI response section ----------------------------------------------------- */
.result {
	border: 2px solid #4d4dff;
	border-radius: 5px;
	color: #000;
	margin-top: 5px;
	padding: 15px;
}
.result.dark {
	color: #fff;
	border: 2px solid #4d4dff;
}

/** Footer ------------------------------------------------------------------ */
.copy {
	margin-top: 12px;
	margin-right: 12px;
}
.info {
	color: #777;
	font-size: 12px;
	margin-top: 12px;
}
.info.dark {
	color: #777;
}

/** No API key set warning -------------------------------------------------- */
.warning-container {
	background-color: #ff4d4d;
	border-radius: 4px;
	padding: 4px;
	margin-bottom: 10px;
	font-weight: semibold;
}
.btn.warning-button {
	padding: 2px;
	border-radius: 5px;
	background-color: #b30000;
	margin-bottom: 10px;
}
.btn_text.warning-button_text {
	color: #fff;
	font-size: 14px;
}

/** Theming -----------------------------------------------------------------

* Light theme
Primary: #4d4dff
Background: #000
Primary Text: #fff
Error background: #ff4d4d
Error background darker: #b30000
Gray-400: #777
Gray-700: #d3d3d3

* Dark theme
Primary: #4d4dff
Background: #fff
Primary Text: #000
Error background: #ff4d4d
Error background darker: #b30000
Gray-400: #777
Gray-700: #d3d3d3

*/
