/*
Main Styles
- CSS vars are apparently not supported.
- Element naming convention: loosely BEM (https://getbem.com/naming/)
- Theming was an experiment. For now, just assume light theme is used.

/** Common ------------------------------------------------------------------ */
.btn {
	color: #fff;
	border-radius: 5px;
	padding: 8px 10px;
}
.btn__text {
	font-weight: bold;
	text-align: center;
}
/* Used both in the multi-line user input and the AI response */
.bottom-bar {
	background-color: rgba(120, 120, 120, 0.1);
	padding: 8px 16px;
	margin: 12px 0 0;
}
.bottom-bar .btn {
	background-color: transparent;
	border-radius: 5px;
	margin-right: 12px;
	padding: 4px 8px;
	font-weight: normal;
}
.main.dark .bottom-bar .btn {
	color: #fff;
}
.main.light .bottom-bar .btn {
	color: #000;
}
.main.dark .bottom-bar .btn:active {
	background-color: #4d4dff;
}
.main.light .bottom-bar .btn:active {
	background-color: #a5e4ae;
}
.main.dark .bottom-bar .btn:not(.active):hover,
.main.dark .bottom-bar .btn:not(.active):focus {
	background-color: #4d4dff;
}
.main.light .bottom-bar .btn:not(.active):hover,
.main.light .bottom-bar .btn:not(.active):focus {
	background-color: #a5e4ae;
}

/** Main container ---------------------------------------------------------- */
.content {
	padding: 5px;
}
.main {
	padding: 0;
	margin: 0;
	border: 0px solid red;
	outline: 0;
}
/*
.main.light  {
	color: #000;
	background-color: #fff;
}
.main.dark {
	color: #fff;
	background-color: #000;
}
*/

/** Header ------------------------------------------------------------------ */
.header {
	margin-bottom: 10px;
}
.heading {
	margin: 0 20px 0 6px;
	font-size: 18px;
	font-weight: bold;
}
.modes .button {
	margin-left: 10px;
}
/*
.ask-mode, .summarize-mode, .edit-mode, .write-mode {
	background-color: rgba(120, 120, 120, 0.2);
	color: rgba(120, 120, 120, 0.7);
	padding: 8px 12px;
}
.ask-mode:hover, .summarize-mode:hover, .edit-mode:hover, .write-mode:hover,
.ask-mode:focus, .summarize-mode:focus, .edit-mode:focus, .write-mode:focus {
	background-color: rgba(120, 120, 120, 0.4);
	color: rgba(120, 120, 120, 1);
}
.ask-mode {
	border-radius: 8px 0 0 8px;
}
.write-mode {
	border-radius: 0 8px 8px 0;
}
.ask-mode.active, .summarize-mode.active, .edit-mode.active, .write-mode.active {
	background-color: #4d4dff;
	color: #fff;
}
*/

/** Input section ----------------------------------------------------------- */
.input-container {
	margin-bottom: 10px;
}
.input {
	border: 2px solid #d3d3d3;
	border-radius: 5px 0 0 5px;
	border-right: 0;
	padding: 5px;
}
.main.dark .input {
	color: #fff;
}
.main.light .input {
	color: #000;
}
.input:focus {
	border: 2px solid #4d4dff;
}
.submit {
	margin-left: 10px;
}

/** AI response section ----------------------------------------------------- */
.result {
	border: 2px solid #4d4dff;
	border-radius: 5px;
	margin-top: 5px;
}
.result__text-container {
	padding: 15px;
}

/** Footer ------------------------------------------------------------------ */
.info {
	color: #777;
	font-size: 12px;
	margin-top: 12px;
}

/** No API key set warning -------------------------------------------------- */
.warning-container {
	background-color: #ff4d4d;
	border-radius: 4px;
	padding: 4px;
	margin-bottom: 10px;
	font-weight: semibold;
}
.btn.warning-button {
	padding: 2px;
	border-radius: 5px;
	background-color: #b30000;
	margin-bottom: 10px;
}
.btn__text.warning-button__text {
	color: #fff;
	font-size: 14px;
}

/** Theming -----------------------------------------------------------------

* Light theme
Primary: #4d4dff
Background: #000
Primary Text: #fff
Error background: #ff4d4d
Error background darker: #b30000
Gray-400: #777
Gray-700: #d3d3d3

* Dark theme
Primary: #4d4dff
Background: #fff
Primary Text: #000
Error background: #ff4d4d
Error background darker: #b30000
Gray-400: #777
Gray-700: #d3d3d3

*/
